<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="13" package="ds.id.Bahasa" android:versionName="1.0.13">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<application android:label="바하사 인도네시아" android:icon="@drawable/icon"></application>
</manifest>